*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
}
.table{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0 0 7px black;
    outline: 2px solid #000;
    margin-bottom: 20px;
}
.table input{
    width: 140px;
    text-align: center;
    border-radius: 15px;
}
.table th,td{
    border: solid 1.5px #000000;
    border-left: none;
    border-bottom: none;
    font-size: 30px;
}
.table th{
    height: 50px;
    border-top: none;
    background-color: #000000;
}
.table td{
    height: 60px;
    background-color: #333333;
}
.table button{
    padding: 4px;
    width: 120px;
    border-radius: 15px;
    font-size: 22px;
    text-transform: uppercase;
    border: 1.5px solid black;
}
main{
    width: 100%;
    display: flex;
}
.tabela-scroll {
    margin-top: 0.8%;
    max-height: 69vh; 
    overflow-y: auto; 
    outline: 1px solid black;
    background-color: #333333;
  }
  .tabela-scroll::-webkit-scrollbar-track {
    background-color: #fff;
  }
  
  .tabela-scroll::-webkit-scrollbar-thumb {
    background-color: #000000; 
  }
  .tabela-scroll::-webkit-scrollbar {
    height: 1px;
    width: 10px;
  }
.DivDireita{
    flex-grow: 1;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.table-inputs{
    border: 1.5px solid black;
    width: 88%;
    height: 95%;
    background-color: #1c1c1c;
    box-shadow: 0px 0px  10px black;
    border-radius: 40px; 
}

.txtCont h1{
    color: #ffffff;
    text-shadow: 0px 0px 10px #000000;
    font-size: 48px;
}
.txtCont{
    margin-top: 0.8%;
    display: flex;
    justify-content: center;
}
.inputPedido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: transparent;
}
.inputPedido label {
    height: 60px;
    width: 80px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    color: #ffffff;
    text-shadow: 0px 0px 10px #000000;
    text-wrap: nowrap;
    font-size: 22px;
}
.inputPedido select{
    margin-bottom: 17px;
    padding: 5px;
    font-size: 17px;
}
.inputPedido button{
    margin-bottom: 12px;
}
.enviar{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.inputPedido button,.enviar button{
    width: 140px;
    height: 45px;
    border-radius: 30px;
    border: solid 2px white;
    background-color: #000000;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
}
.inputPedido button:hover{
    transition: 1.5s linear;
    border: solid 2px #000000;
    background-color: #ffffff;
    color: #000000;
}

.doca{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    font-size: 19px;
    text-shadow: 0px 0px 10px #000000;
    margin-bottom: 12px;
}
.doca select{
    width: 120px;
    text-align: center;
    margin-top: 5px;
}
.doca label{
    margin-bottom: 8px;
    font-size: 25px;
    color: white;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: inherit;
}
.tabelaComVistoria{
    justify-content: center; 
    align-items: center; 
    display: flex;
    text-align: center;
}
.tabelaComVistoria table{
    width: 92%;
}
.informacoes{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5%;
}
.inf{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.npedido,.nFiscal,.doca{
    display: flex;
    height: 110px;
    width: 180px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    outline: 2px solid #ffffff;
    border-radius: 15px;
    background-color: #0f0f0f;
    padding-bottom: 0;
}

.inf h1{
    font-size: 25px;
    color: white;

}
.npedido h1, .nFiscal h1 {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: inherit;
  }
  
  .npedido h1:last-child, .nFiscal h1:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
