*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
}
main{
    width: 100%;
    display: flex;
}
.tabela-scroll {
    margin-top: 20px;
    max-height: 680px; 
    overflow-y: auto; 
    outline: 1px solid black;
    
  }
  .tabela-scroll::-webkit-scrollbar-track {
    background-color: #fff;
  }
  
  .tabela-scroll::-webkit-scrollbar-thumb {
    background-color: #045483; 
  }
  .tabela-scroll::-webkit-scrollbar {
    height: 1px;
    width: 10px;
  }
.DivDireita{
    flex-grow: 1;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.juntar{
    display: block;
    width: 30%;
    margin-top: 1.5%;
}
.colunas1{

    margin-top: 1.2%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
  }
  .colunas1 label,.colunas label {
    display: block;
    margin-bottom: 3px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-shadow: 0 0 5px black;
  }
  
  .colunas1 input,.colunas input{
    height: 50px;
    border: 1.5px solid #ffffff;
    box-sizing: border-box;
    width: 93%;
    font-size: 18px;
    background-color: #f6f6f6;
    border-radius: 5px;
    margin-bottom: 4px;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
    margin-top: 8px;
  }
  .colunas select{
    height: 50px;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
    background-color: #f6f6f6;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 4px;
  
    margin-top: 8px;
  
  
  }
  .colunas{
    margin-left: 5px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 1.2%;
    justify-content: space-around;
  
  }

.inputs{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    margin-top: -1.5%;
    
}
.juntar input{
    display: grid;
    width: 68%;
    text-align: center;
    height: 60%;
    border-radius: 20px;
    border: solid 1px black;
    margin-left: 14%;
}
.juntar label{
    font-size: 140%;
    color: white;
    text-shadow: 0px 0px 8px black;
    margin-bottom: 2%;
    margin-top: 2%;
    
}



.input-group input[type="checkbox"] {
    display: none;
}



.input-group label::before {
    content: '';
    position: absolute;
    left: 1px;
    width: 28px; 
    height: 27px; 
    border: 1px solid #000000;
    background-color: #fff; 
}

.input-group input[type="checkbox"]:checked + label::before {
    background-color: #174ede;
    border: 1.5px solid #ffffff;
}

.input-group input[type="checkbox"]:checked + label::before {
    content: '\2713';
    color: #fff; 
    font-size: 19px; 
    text-align: center;
    line-height: 24px; 
}




.problema {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 0%;
    margin-left: 4%;
}

.juntar2 {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-top: 0.8%;
    overflow: hidden;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.input-group label {
    cursor: pointer;
    position: relative;
    padding-left: 33px;
    margin-bottom: 0px;
    font-size: 90%;
    color: white;
    text-shadow: 0px 0px 8px black;
    text-wrap: nowrap;
}



.table-inputs{
    border: 1.5px solid black;
    width: 88%;
    height: 95%;
    background-color: #90c7ff;
    box-shadow: 0px 0px  10px black;
    border-radius: 40px; 
}
.enviar{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 1.5%;
}
.enviar input{
    width: 140px;
    height: 45px;
    border-radius: 30px;
    border: solid 2px white;
    background-color: #569ae7;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.enviar input:hover{
    transition: 1.5s;
    border: solid 2px #569ae7;
    background-color: #ffffff;
    color: #307cd3;
}

.txtCont{
    text-align: center;
    margin-top: 1%;
}
.txtCont h1{
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0px 0px 10px #000000;
}

.form{
    display: flex;
    justify-content: center;
    text-align: center;
}
form h1{
    margin-top: 3%;
    color: #ffffff;
    text-shadow: 0px 0px 10px #000000;
}
.inputObs{
    display: block;
    margin-top: 2%;
}
.inputObs input{
    height: 60px;
    width: 240px;
    text-align: center;
}
.inputObs label{
    font-size: 24px;
    color: white;
    text-shadow: 0px 0px 5px black;
}
.transportes{
    margin-top: 1%;
    display: flex;
    justify-content: center;
}
.transportes h1{
    font-size: 36px;
    color: #ffffff;
    text-shadow: 0px 0px 7px #000000;
}
