*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
}
main{
    width: 100%;
    display: flex;
}

.DivDireita{
    flex-grow: 1;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.juntar{
    display: block;
    width: 30%;
    margin-top: 1.5%;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    margin-top: -1%;
    
}
.juntar input{
    display: grid;
    width: 68%;
    text-align: center;
    height: 60%;
    border-radius: 20px;
    border: solid 1px black;
    margin-left: 14%;
}
.juntar label{
    font-size: 140%;
    color: white;
    text-shadow: 0px 0px 8px black;
    margin-bottom: 2%;
    margin-top: 2%;
}


.juntar2 {
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: 0.8%;
    text-align: center;
    overflow: hidden; 
}


.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.input-group input[type="checkbox"] {
    margin-right: 20px; 
    width: 31px;
    height: 31px;
}

.input-group label {
    font-size: 16px;
    color: #fff;
    text-shadow: 0px 0px  10px black;
    margin-bottom: 0;
    margin-top: 0;
}




.problema{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 10%;
}

.table-inputs{
    border: 1.5px solid black;
    width: 88%;
    height: 94%;
    background-color: #aad2ff;
    box-shadow: 0px 0px  10px black;
    border-radius: 40px; 
}
.enviar{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
}
.enivar input{
    width: 160px;
    height: 60px;
}


.txtCont{
    text-align: center;
    margin-top: 1%;
}
.txtCont h1{
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0px 0px 15px #000000;
}

form{
    display: flex;
    justify-content: center;
    text-align: center;
}
form h1{
    margin-top: 3%;
    color: #ffffff;
    text-shadow: 0px 0px 15px #000000;
}


