
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
}


main {
    width: 100%;
    height: 92.1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-60deg, rgb(0, 0, 0),rgb(23, 0, 170),rgb(0, 10, 57),rgb(23, 0, 170), rgb(0, 0, 0));
    background-size: 300% 300%; /* Aumente o tamanho do gradiente */
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.centroTable{
    width: 87%;
    height: 85%;
    background-color: rgb(232, 232, 232);

    border-radius: 40px;
    box-shadow: 0 0 9px black;
    transition: transform 1s ease;
}
.centroTable:hover{
    transform: scale(1.01);
    transition:  1s ease;
}

.textCriarVoltar{
    display:flex;
    justify-content:space-between;
    margin-left:5%;
    margin-right:5%;
    margin-top:0.6%;
    
}
#voltar{
    cursor: pointer;
}
.textCriarVoltar h1{
    text-transform: uppercase;
    transition:0.7s;
    padding:8px;
}
.textCriarVoltar h1:hover{
    color:#1E90FF;
}
.txtNone{
    cursor: default;
}
