
    .table-inputs{
        border: 1.5px solid black;
        width: 88%;
        height: 95%;
        background-color: #919191;
        box-shadow: 0px 0px  10px black;
        border-radius: 40px; 
       

    }
  main{
    width: 100%;
    display: flex;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
  }
  
  
  .DivDireita{
    flex-grow: 1;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.txtCentro{
    display: flex;
    justify-content: center;
}
form{
    display: grid;
    place-items: center;
}