*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Platypi';
}


main{
width: 100%;
display: flex;
max-width: 100%;
overflow: hidden;

}

.DivDireita{
  flex-grow: 1;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8%;
    margin-bottom: 0.8%;
}
.text h1{
    color: white;
    text-shadow: 0px 0px 9px #000000;
    font-size: 48px;
}
.table{
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0 0 7px black;
    border-right: #000000 1px solid
}
.table th,td{
    border: solid 1.5px #000000;
    border-left: none;
    border-bottom: none;
    font-size: 30px;
}
.table th{
    height: 50px;
    border-top: none;
    background-color: #000000;
}
.table td{
    height: 60px;
    background-color: #333333;
}


.table-inputs{
    border: 1.5px solid black;
    width: 88%;
    height: 95%;
    background-color: #1c1c1c;
    box-shadow: 0px 0px  10px black;
    border-radius: 40px; 
}


.tabela-scroll {
  max-height: 69vh; 
  overflow-y: auto; 
    outline: 1px solid #000;

  }
  .tabela-scroll::-webkit-scrollbar {
    height: 5px;
    width: 15px;
    border-right: 1px solid black;

  }
  
  .tabela-scroll::-webkit-scrollbar-track {
    background-color: #ffffff; 
  }
  
  .tabela-scroll::-webkit-scrollbar-thumb {
    background-color: #000000;
  }

.table button{
  color: white;
  width: 120px;
  height: 50px;
  padding: 4px;
  font-size: 22px;
  background-color: #101010;
  border-radius: 15PX;
  text-transform: uppercase;
  border: 0.5px solid rgb(140, 140, 140);
  transition: 0.5s ease-in-out;
}
.table button:hover{
  transform: scale(1.05);
}
