
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
}
main{
    width: 100%;
    display: flex;
    background: linear-gradient(-60deg, #515151,#000000,#000000,#515151);
    background-size: 500% 500%;
    animation: gradient 25s ease infinite;
}

.DivDireita{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.Imagem{
    justify-content: end;
    width: 100%;
    display: flex;
    height: 100%;
}
.imgLog{
    right: 0;
    height: 92.1%;
    width: 84vw;
    position: absolute;
}
.centT{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 44;

}

.bv h1{
    font-size: 50px;
    color: #FFF;
    text-shadow: 2px 2px 4px #000000; 
    text-transform: uppercase;
    z-index: 1000;
    margin-bottom: -2.5%;
    margin-top: -2.5%;

    }
.bv{
    height: 35%;
    display: flex;
    background-color: #5c5d5f;
    margin-left:5%;
    margin-right: 8%;
    width: 70%;
    padding: 3%;
    border-radius: 110px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 7px #000000;  
}
.bv::before{
    content: "";
    width: 30%;
    height: 600%;
    position: absolute;
    background: linear-gradient(180deg, #ffffff,#ffffff);

    animation: animate 5s linear infinite;
}

@keyframes animate{
    100%{
        transform: rotate(360deg);
    }
}
.bv::after{
    content: "";
    background-color: #5c5d5f;
    inset: 5px;
    position: absolute;
    border-radius: inherit;
}

@media only screen and (max-width: 600px) {
    .Imagem{
        display: none;
    }
    .bv h1{
        font-size: 28px;
        }
    .bv{
        margin-top: -100%;
    }
}
    
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    
  }
  
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {
   
  }