*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
}
.centro{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.table1{
 width: 75%;
 height: 60vh;
 text-align: center;
}
.table1 th{
    font-size: 16px;
    padding: 1px;
    text-transform: uppercase;
    border: 2px solid #000;
}
.table1 td{
    font-size: 15px;
    padding: 1px;
    text-transform: uppercase;
    border: 2px solid #000;
}
.table2{
    text-align: center;
    width:45%;
}
.table2 th{
    font-size: 16px;
    padding: 1px;
    text-transform: uppercase;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}
.table2 td{
    font-size: 15px;
    padding: 1px;
    text-transform: uppercase;
    border-right: 2px solid #000;

}
.divisao{
    width: 74.8%;
    outline: 2px solid #000;
    display: flex;
}
.Imagem-nome img{
    padding: 2px 0;
    height: 60px;
    margin-left: 30px;
}
.Imagem-nome h1{
    font-size: 40px;
}
.Imagem-nome{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}
