*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
}
main{
    width: 100%;
    display: flex;
}
.DivDireita{
    flex-grow: 1;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.table-inputs{
    border: 1.5px solid black;
    width: 88%;
    height: 95%;
    background-color: #1c1c1c;
    box-shadow: 0px 0px  10px black;
    border-radius: 40px; 
}
.txtCont{
    text-align: center;
    margin-top: 1%;
}
.txtCont h1{
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0px 0px 10px #000000;
}
.cardsDocas{
    width: 450px;
    height: 58%;
    background-color: #eaeaea; 
    margin: 25px;  
    border-radius: 40px;
    margin-bottom: 10px;
    transition: 2s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 7px #fff;
}
.container{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.cardsDocas:hover{
    transform: scale(1.05);
}
.espacamento{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cardsDocas h1{
    text-align: center;
    margin-top: 2.5%;
    color: #000000;
    text-transform: uppercase;
}
.tabela-scroll::-webkit-scrollbar {
    width: 15px;
  }
  .tabela-scroll::-webkit-scrollbar-track {
    background-color: #ffffff; 
  }
  
  .tabela-scroll::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
.tabela-scroll{
    max-height: 65%;
    margin-top: 4%;
    overflow-y: auto;
}
.table{
    text-align: center;
    font-size: 18px;
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;
}
.table th{
    border:1px solid black;
    
}
.table td{
    border-bottom: 1px solid black;
}
