
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
}
main {
    width: 100%;
    height: 92.1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-60deg, rgb(0, 0, 0),rgb(23, 0, 170),rgb(0, 10, 57),rgb(23, 0, 170), rgb(0, 0, 0));
    background-size: 300% 300%; /* Aumente o tamanho do gradiente */
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.centroTable{
    width: 87%;
    height: 85%;
    background-color: rgb(232, 232, 232);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 40px;
    box-shadow: 0 0 9px black;
    transition: transform 1s ease;


}
.cards{
    width: 40%;
    height: 80%;
    background-color: #00499c;
    border-radius: 40px;
    box-shadow: 0 0 14px black;
    transition: transform 1.5s ease,filter 0.5s ease;
    cursor: pointer;

}
.textTit{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.textTit h1{
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 12px #000;
}

.cards:hover{
    transform: scale(1.1);
    transition:1s ease;
    filter: blur(0); 

}
.centroTable:hover{
    transform: scale(1.01);
    transition:  1s ease;
}
.blur {
    filter: blur(3px); 
}
.img{
    align-items:center;
    justify-content:center;
    display: flex;
}
.img img{
    height: 340px;
    width: 500px;
    filter: drop-shadow(0px 0px 12px #0000FF);

}