body{
  background-color: #ebebeb;
}
main{
  width: 100%;
  display: flex;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Platypi';
}


.DivDireita {
  flex-grow: 1;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.centroTxt{
  margin-top: 1%;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px black;
  font-size: 48px;
}

.table-inputs {
  border: 1.5px solid black;
  width: 88%;
  height: 94%;
  background-color: #90c7ff;
  box-shadow: 0px 0px 10px black;
  border-radius: 40px;
}


.table-inputs label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.table-inputs input,
select {
  padding: 10px;
  padding-right: 2px;
  border: 1.5px solid #ffffff;
  box-sizing: border-box;
  width: 93%;
  font-size: 18px;
  background-color: #f6f6f6;
  border-radius: 5px;
  margin-bottom: 4px;
  box-shadow: 0px 0px 4px rgb(0, 0, 0);

}
.table-inputs select{
  height: 16.8%;
}

.table-inputs button {
  border-radius: 30px;
  border: solid 2px white;
  background-color: #569ae7;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding: 12px 22px;
  border: none;
  cursor: pointer;

  box-shadow: 0 0 7px rgb(255, 255, 255);
}
.table-inputs button:hover{
  transition: 1.5s;
  border: solid 2px #569ae7;
  background-color: #ffffff;
  color: #307cd3;
}
.colunas{
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 1.2%;
  justify-content: space-around;


}
.colunas1{

  margin-top: 1.2%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.colunas1 input {
  padding: 5px;
  border: 1px solid #ddd;
  width: 90%;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
}
.colunas1 label{
  font-size: 18px;
}
.botao{
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
}