.centroT{
    font-size: 58px;
    text-align: center;
    margin-top: 10px;
}
.table{
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0 0 7px black;
    border-right: #000000 1px solid
}
.table th,td{
    border: solid 1.5px #ffffff;
    border-left: none;
    border-bottom: none;
    font-size: 30px;
}
.table th{
    height: 50px;
    border-top: none;
    background-color: #000000;
}
.table td{
    height: 60px;
    background-color: #333333;
}
.reset{
    border-radius: 80px;
    height: 50px;
    width: 170px;
    font-size: 25px;
}


.reset,
.reset *,
.reset :after,
.reset :before,
.reset:after,
.reset:before {
  box-sizing: border-box;
}
.reset {
  -webkit-tap-highlight-color: transparent;
  background-color: #ffffff;
  color: #fff;
  background-image: none;
  color: #fff;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  border: 0.8 solid black;
}

.reset {
  overflow: hidden;
  position: relative;
}
.reset:hover {
  transform: scale(1);

}
.reset span {
  font-weight: 900;
  mix-blend-mode: difference;
}
.reset:before {
  aspect-ratio: 1;
  background: #000000;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 1s;
  width: 0;
  
}

.reset:hover:before {
  width: 100%;
}





.tabela-scroll {
    max-height: 610px; 
    overflow-y: auto; 
    outline: 1px solid #ffffff;

  }
  .tabela-scroll::-webkit-scrollbar {
    height: 5px; /* Altura da barra de rolagem */
    width: 25px;
    border-right: 1px solid black;

  }
  
  

  .tabela-scroll::-webkit-scrollbar-track {
    background-color: #333333; /* Cor de fundo da barra de rolagem */
  }
  
  .tabela-scroll::-webkit-scrollbar-thumb {
    background-color: #000000; /* Cor do "ponteiro" da barra de rolagem */
  }





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
}


main{
  width: 100%;
  display: flex;
  
}
.meio{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.DivDireita{
    border: 1.5px solid #ffffff;
    width: 90%;
    height: 90%;
    background-color: #1c1c1c;
    border-radius: 40px; 
}



.DivDireita h1{
    color: white;
    text-shadow: 2px 2px 5px #000000;
}

