
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
}

main{
    height: 877px;
    width: 100%;
    display: flex;
}

.DivDireita{
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    display: flex;
}
.Imagem{
    justify-content: end;
    width: 100%;
    display: flex;
}
.imgLog{
    height: 100%;
    width: 190%;
    filter: drop-shadow(-15px 0px 20px rgb(98, 179, 255));
    margin-left:-400px;
}
                .centT{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        }
.bv h1{
    font-size: 50px;
    color: #FFF;
    text-shadow: 2px 2px 4px #000000; 
    text-transform: uppercase;
    text-wrap: nowrap;
    }
.bv{
    margin-top: 25%;
    height: 30%;
    display: flex;
    background-color: #64acff;
    margin-left:5%;
    margin-right: 5%;
    width: 100%;
    padding: 3%;
    border-radius: 130px;
    border: 0.5px solid black;
    

}

