
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
}

header{
    width: 100%;
    background-color: #64acff;
    display: flex;
    align-items: center;
    padding: 5.3px 0;
}

.nomeLogin{
    left: 82%;
    display: flex;
    position: absolute;
    align-items: center;
    text-shadow: 2px 2px 10px #000000;
}
.nomeLogin h1{
    color: #FFF;
    font-size: 35px;
}

.senai{
    height: 45px;
    display: flex;
    left: 50%; 
    transform: translateX(-50%); 
    position: absolute;

}

.imagemDec{
    margin-left: 25px;
    height: 65px;
    width: 65px; 
    display: flex;
}
.logo{
    align-items: center;
    display: flex;
    margin-left: 0.8%;
}
.logo h1{
    margin-left: 5.3%;
    color: #FFF;
    font-size: 40px;
    text-shadow: 2px 2px 10px #000000; 
}
.logo img{
    margin-left: 3%;
    height: 65px;
    width: 65px; 
}





main{
    height: page;
    width: 100%;
    display: flex;
}

.DivDireita{
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    display: flex;
    
}
.Imagem{
    display: flex;
    justify-content: end;
    align-items: end;
}
.imgLog{
    height: 877px;
    width: 1250px;
    filter: drop-shadow(-15px 0px 20px rgb(98, 179, 255));
    margin-left:-400px;
}
        .centT{
        margin-top: 25%;
        display: block;
        }
.bv h1{
    font-size: 60px;
    color: #FFF;
    text-shadow: 2px 2px 10px #000000; 
    text-transform: uppercase;
    text-wrap: nowrap;
    text-align: center;
    }
.bv{
    height: 500px;
    margin-top: 10%;
    background-color: #64acff;
    margin-left:10%;
    align-items: center;
    width: 900px;
    border-radius: 130px;
    border: 0.5px solid black;

}

.menuL a {
    text-decoration: none;
}

.menuL li {
    list-style: none;
}

.menuL h1 {
    font-weight: 600;
    font-size: 1.5rem;
}


.menuL {
    display: flex;
}
.toggle-btn img{
    height: 40px;
    width: 40px;
}
.d-flex{
    display: flex;
    margin-top: 10px;
}
.sidebar-link img{
    height: 50px;
    width: 50px;
}
.menuImg{
    margin-left: 10px;
}


#sidebar {
    width: 100px;
    min-width: 100px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #64acff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sidebar.expand {
    width: 260px;
    min-width: 200px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
}


#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 1rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}


a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.301);
}

.sidebar-item {
    position: relative;
    margin-bottom: 10px;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 100px;
    background-color: #002753;
    padding: 0 ;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .1s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .1s ease-out;
}