*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: #64acff;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.senai{
    height: 45px;
    display: flex;
    margin-left: 35%;
}
header h1{
    font-size: 30px;
    display: flex;
    margin-left: 60%;
}
.imagemDec{
    margin-left: 30px;
    height: 55px;
    width: 55px; 
    display: flex;
}
.imgperfil{
    margin-left: 38%;
    height: 55px;
    width: 55px; 
    display: flex;
}
.nomeLogin{
    font-size: 12px;
    color: #000;
}


.Ulprincipal {
    list-style-type: none;
    top: 0px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin-right: 5px;
    background-color: #c1deff;
    width: 80px;
}

input[type=checkbox] {
    display: none;
}
input[type=checkbox]:hover~nav {
    transform: translate(370px);
}

.label1{
    z-index: 100;
}
nav {
    width: 18em;
    height: 790px;
    position: relative;
    margin-top: -560px;
    background-color: #c1deff ;
    left: -350px;
    transition: all 1.0s;
    display: flex;
    z-index: -1;
}
.imgbotao{
    height: 80px;
    width: 80px;
    margin-top: 60px;
    display: block;
    z-index: 999;
}

ul h1{
    margin-top: 84px;
    margin-left: 65px;
    width: 100%;
    font-size: 30px;
}
.imgbotao {
    background-color: #64acff;
}

.text{
    width: 223px;
    background-color: #64acff;
}
nav h1 {
    background-color: #64acff; 
    height: 80px; 
    margin-top: 60px; 
    display: flex; 
    align-items: center;
    justify-content: flex-start; 
}
.inicioConteudo{
    color: black;
    right: 110px;

}
main{
    width: 100%;
    height: 790px;
    display: flex;
}
.cabeca{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 2px solid black;
    align-items: center;

}
.DivDireita{
    margin-top: 4%;
    margin-left: 14%;
    margin-right: 4%;
    border: 2px solid black;
    width: 100%;
    height: 85%;
}
.imgCabeca{
    width: 100px;
    height: 90px;
    
}
.textCon{
    font-size: 30px;
    
}
.botaoAdd{
    height: 60px;
    font-size: 20px;
    display: flex;
}
.botaoAdd h1{
    font-size: 20px;
    width: 180px;

}
.borda{
    border-right: 2px solid black;
}
.conteudo{
    display: flex;
    text-align: center;
}

.botaoBusca{
    text-align: center;
    width: 200px;
    height: 30px;
    margin: 0.8%;
}
.cabCont{
    width: 100%;
    display: flex;
    border-bottom: 2px solid black;
}
.IDs{
    width: 15%;
}
.produtoCont{
    width: 18%;
}
.Desc{
    width: 30%;
}
.Preco{
    width: 17%;
}
.Estoque{
    width: 20%;
}