
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Platypi';
}
main{
    height: 90dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(img/);
}
.Card{
    width: 300px;
    height: 400px;
    background-color: #64acff;
}