body{
    background-color: #1E90FF;
}
  .ordem-form label, .ordem-form input {

    display: block;
    margin-bottom: 10px; 
    
  }
  .buttons {
    margin-top: 20px; 
  }
  .button {
    background-color: #4682B4; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
  }
  .input {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 10px; 
}

textarea {
    overflow: hidden;
}
.descricao textarea, .buttons {
    width: 50%; 

}

.buttons .button {
    width: 50%; 
}


