.centroT{
    font-size: 58px;
    text-align: center;
    margin-top: 10px;
}
.table{
    font-size: 30px;
    text-align: center;
    
}
.table th,td{
    border: solid 1.5px black;
    border-left: none;

}
.reset{
    border-radius: 80px;
    height: 70px;
    width: 170px;
}
