@media only screen and (max-width: 600px) {
    .txtCont h1{
        margin-top: 3%;
        font-size: 20px;
    }
    .input-group label{
        font-size: 9px;
    }
     .colunas1 label,.colunas label {
        font-size: 15px;
      }
      .colunas1 input,.colunas input{
        height: 40px;
        width: 85%;
        font-size: 18px;
        background-color: #f6f6f6;
      }
      .juntar label{
        font-size: 90%;
    }
    .presets{
        display: none;
    }
    .divisaoPhone{
        display: flex;
        flex-direction: column;
      }
      .numeroPedido input{
        text-align: center;
        width: 60%;
      }
      .entrega{
        margin-left: 10px;
        margin-right: 12px;
      }
      .inicio input,.entrega input{
        font-size: 11px;
      }
      .juntar{
        display: block;
        width: 50%;
        margin-top: 2%;
    }
    ::-webkit-input-placeholder {
      color: rgb(197, 197, 197); 
      font-size: 11px;
    }
    .input-group input[type="checkbox"]:checked + label::before {
        font-size: 12px; 
        line-height: 24px; 
    }
    .input-group label::before {
        left: 1px;
        width: 18px; 
        height: 18px; 
        border: 1px solid #000000;
    }
    .juntar2 {
        width: 49%;
    }
}