@media only screen and (max-width: 600px) {
    .table th,td{
        font-size: 15px;
    }
    .text h1{
        font-size: 32px;
    }
    .table th{
        height: 40px;
    
    }
    .table td{
        height: 50px;
    }
    .table button{
        color: white;
        width: 70px;
        height: 38px;
        padding: 4px;
        font-size: 16px;
        border-radius: 15PX;

      }
      .table button:hover{
        transform: scale(1);
      }
      
}