@media only screen and (max-width: 600px) {
    .table th,td{
        font-size: 11px;
    }
    .table th{
        height: 40px;
    
    }
    .table td{
        height: 50px;
    }

    .voltar{
        font-size: 12px;
      }
      .nota{
        font-size: 20px;
      }
      .p{
        font-size: 26px;
      }
}