@media only screen and (max-width: 600px) {
    .table th,td{
        font-size: 11px;
    }
    .table th{
        height: 40px;
    
    }
    .table td{
        height: 50px;
    }

    .voltar{
        font-size: 12px;
      }
      .nota{
        font-size: 20px;
      }
      .p{
        font-size: 26px;
      }
      .tabela-scroll::-webkit-scrollbar {
        height: 5px; 
        width: 5px;
        border-right: 1px solid black;
      }
}
@media only screen and (max-width:1440px) {
  table th, table td {
    border: 1px solid #000000;
    text-align: center;
    padding: 0.4px;
  }
  table td{
    font-size: 12px;
  }
  table th{
    font-size: 13px;
  }
  .baixar-pdf{
    margin-top: 12px;
    padding: 3px 18px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    box-shadow: 0 0 10px #c2c2c2;
  }
}